<section class="section section_screen4">
    <div class="container">
        <div class="screen4">
            <div class="screen4__gold"></div>
            <div class="screen4__blik"></div>
            <div class="screen4__list">
                <div class="screen4__list-title">Кому может достаться амулет?</div>
                <div class="screen4__list-description">
                    <p>Масоны считаются самыми богатыми людьми не просто так. Они убеждены: деньги идут к деньгам. Поэтому изготовленные и “настроенные” ими амулеты стоят денег. Чтобы осознать ответственность за свое богатство и доказать готовность к нему, будущий владелец должен вложить свою энергию и заплатить за амулет.</p>
                    <p>Часто это большие суммы для многих. Но часть амулетов, согласно пророчеству, отдают практически даром. Почему так делается, объясняется просто.</p>
                    <p>“Есть в этом мире бесчестно бедные люди, отвечающие за грехи своих предков нищетой и унынием. Таких людей амулет находит сам – в путешествии, во время духовных практик или даже на парковке своего дома эти люди случайным образом встречаются с посланником, который вручает им амулет”.</p>
                    <p>Мирская жизнь трактует свои правила, все чаще амулет находит своего хозяина во всемирной паутине. Приобрести его за бесценок не так просто, но если вы читаете этот текст – вы уже избранный, вам сказочно повезло. Это – единственная возможность получить амулет богатства, процветания, удачи и навсегда поменять свою жизнь в лучшую сторону.</p>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
                    <div class="screen__list-info">
                        <p><b>Другого шанса не будет.</b></p>
                        <p>Если вы ощущаете полную готовность стать богатым, успешным, счастливым человеком, заказывайте амулет прямо сейчас.</p>
                    </div>
                </div>
            </div>
            <div class="screen4__row">
                <div class="screen4__title">Как изменится ваша жизнь с амулетом?</div>
                <div class="screen4__elem">
                    <div class="screen4__item"><img src="../media/screen4/icon.png" data-aos="zoom-in" alt=""> Энергия денег окружит вас и ваших родственников</div>
                    <div class="screen4__item"><img src="../media/screen4/icon.png" data-aos="zoom-in" alt=""> Вы станете богатым и успешным</div>
                    <div class="screen4__item"><img src="../media/screen4/icon.png" data-aos="zoom-in" alt=""> Вы привыкните к роскоши и научитесь ею наслаждаться</div>
                </div>
            </div>
            <div class="screen4__footer">
                <div class="screen4__subtitle">Такая жизнь вам точно понравится:</div>
                <div class="screen4__box">
                    <div class="screen4__footer-item">
                        <p>Дорогой автомобиль <span>бизнес-класса</span></p>
                        <img data-aos="zoom-in" src="../media/screen4/img-1.png" alt="">
                    </div>
                    <div class="screen4__footer-item">
                        <p>Огромный дом с домработницей, <span>садовником и няней</span></p>
                        <img data-aos="zoom-in" src="../media/screen4/img-2.png" alt="">
                    </div>
                    <div class="screen4__footer-item">
                        <p>Брендовые <span>вещи</span></p>
                        <img data-aos="zoom-in" src="../media/screen4/img-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>