<section class="section section_screen2">
    <div class="container">
        <div class="screen2">
            <div class="screen2__row">
                <div class="screen2__title"><mark>Генетическая бедность</mark> – главная причина ваших неудач с деньгами</div>
                <div class="screen2__description">
                    <p><b>Быть бедным, экономить на всем, выбирать себе продукты и одежду низкого качества… Скажите честно, вам это нравится?</b></p>
                    <p>Зачастую такое мышление в нас закладывают с детства. Мы растем с убеждением, что быть богатым зазорно, стыдно. Если ваши родители жили скромно, то и у вас мало шансов начать самостоятельную жизнь в достатке.</p>
                    <p>Эти мысли отталкивают энергию денег. Финансовое благосостояние обходит стороной тех, кто не готов жить в роскоши.</p>
                </div>
            </div>
            <div class="screen2__row">
                <div class="screen2__subtitle">Признаки генетической бедности:</div>
                <div class="screen2__list">
                    <div class="screen2__item"><img data-aos="zoom-in" src="../media/screen2/icon-1.png" alt=""> Где бы вы ни работали, чем бы ни занимались, <mark>денег все равно не хватает</mark></div>
                    <div class="screen2__item"><img data-aos="zoom-in" src="../media/screen2/icon-1.png" alt=""> Как бы ни старались улучшить свое финансовое положение, – <mark>у вас все равно ничего не выходит</mark></div>
                    <div class="screen2__item"><img data-aos="zoom-in" src="../media/screen2/icon-1.png" alt=""> Вам ближе философия экономии, <mark>а не увеличения доходов</mark></div>
                </div>
                <div class="screen2__info"><mark>Если в этом списке вы узнали себя, у вас есть два пути:</mark> остаться бедным на всю оставшуюся жизнь или проработать закрытую чакру денег. Последнее можно сделать с помощью магического браслета.</div>
                <div class="screen2__media"></div>
            </div>
        </div>
    </div>
</section>