<section class="section section_screen3">
    <div class="container">
        <div class="screen3">
            <div class="holder two">
                <div class="blinking-glow"></div>
                <div class="thread"></div>
                <div class="glow"></div>
                <div class="flame"></div>
            </div>
            <div class="screen3__list">
                <div class="screen3__subtitle">Основные способы не стать богатым:</div>
                <div class="screen3__list-box">
                    <div class="screen3__list-item">быть уверенным в том, что все богатые люди – нечестные и несчастные</div>
                    <div class="screen3__list-item">отказываться от дорогих и качественных вещей в пользу дешевых низкокачественных</div>
                    <div class="screen3__list-item">не менять обстановку в жилье долгое время</div>
                    <div class="screen3__list-item">презирать богатых людей и избегать с ними общения</div>
                    <div class="screen3__list-item">экономить на всем, жалеть деньги, бояться, что их осалось мало</div>
                    <div class="screen3__list-item">покупать продукты и вещи на распродажах, по акциям</div>
                </div>
                <div class="screen3__list-footer" data-aos="fade-up">Все это останавливает финансовый поток, который готов литься рекой в ваш кошелек. Вселенная бесконечно щедра, в мире бесконечное количество денег. Так почему бы вам не взять свое?</div>
            </div>
            <div class="screen3__body">
                <div class="screen3__title">Секрет масонов – вакцина от бедности</div>
                <div class="screen3__info">
                    <p><b>Секрет масонов – амулет, который столетиями носят самые богатые люди планеты – масоны. Их имена держатся в строжайшем секрете.</b></p>
                    <p>Чтобы амулет работал во благо своего владельца и приносил ему деньги, нужно провести специальный ритуал, которому обучены всего двое ныне живущих людей в мире. Они настраивают амулет на новую ауру, заряженную материальным благополучием. </p>
                    <p>Как и в каких условиях они это делают – до сих пор остается тайной. Известно только одно: заполучить амулет может не каждый.</p>
                </div>
            </div>
        </div>
    </div>
</section>